<template>
  <col
    accesskey={attrs.accesskey}
    align={attrs.align}
    char={attrs.char}
    charoff={attrs.charoff}
    class={attrs.class}
    dir={attrs.dir}
    draggable={attrs.draggable}
    hidefocus={attrs.hidefocus}
    id={attrs.id}
    lang={attrs.lang}
    onabort={attrs.onabort}
    onactivate={attrs.onactivate}
    onbeforeactivate={attrs.onbeforeactivate}
    onbeforecopy={attrs.onbeforecopy}
    onbeforecut={attrs.onbeforecut}
    onbeforedeactivate={attrs.onbeforedeactivate}
    onbeforepaste={attrs.onbeforepaste}
    onblur={attrs.onblur}
    oncanplay={attrs.oncanplay}
    oncanplaythrough={attrs.oncanplaythrough}
    onchange={attrs.onchange}
    onclick={attrs.onclick}
    oncontextmenu={attrs.oncontextmenu}
    oncopy={attrs.oncopy}
    oncut={attrs.oncut}
    ondblclick={attrs.ondblclick}
    ondeactivate={attrs.ondeactivate}
    ondrag={attrs.ondrag}
    ondragend={attrs.ondragend}
    ondragenter={attrs.ondragenter}
    ondragleave={attrs.ondragleave}
    ondragover={attrs.ondragover}
    ondragstart={attrs.ondragstart}
    ondrop={attrs.ondrop}
    ondurationchange={attrs.ondurationchange}
    onemptied={attrs.onemptied}
    onended={attrs.onended}
    onerror={attrs.onerror}
    onfocus={attrs.onfocus}
    ongotpointercapture={attrs.ongotpointercapture}
    oninput={attrs.oninput}
    onkeydown={attrs.onkeydown}
    onkeypress={attrs.onkeypress}
    onkeyup={attrs.onkeyup}
    onload={attrs.onload}
    onloadeddata={attrs.onloadeddata}
    onloadedmetadata={attrs.onloadedmetadata}
    onloadstart={attrs.onloadstart}
    onlostpointercapture={attrs.onlostpointercapture}
    onmousedown={attrs.onmousedown}
    onmouseenter={attrs.onmouseenter}
    onmouseleave={attrs.onmouseleave}
    onmousemove={attrs.onmousemove}
    onmouseout={attrs.onmouseout}
    onmouseover={attrs.onmouseover}
    onmouseup={attrs.onmouseup}
    onmousewheel={attrs.onmousewheel}
    onmscontentzoom={attrs.onmscontentzoom}
    onmsgesturechange={attrs.onmsgesturechange}
    onmsgesturedoubletap={attrs.onmsgesturedoubletap}
    onmsgestureend={attrs.onmsgestureend}
    onmsgesturehold={attrs.onmsgesturehold}
    onmsgesturestart={attrs.onmsgesturestart}
    onmsgesturetap={attrs.onmsgesturetap}
    onmsgotpointercapture={attrs.onmsgotpointercapture}
    onmsinertiastart={attrs.onmsinertiastart}
    onmslostpointercapture={attrs.onmslostpointercapture}
    onmsmanipulationstatechanged={attrs.onmsmanipulationstatechanged}
    onmspointercancel={attrs.onmspointercancel}
    onmspointerdown={attrs.onmspointerdown}
    onmspointerenter={attrs.onmspointerenter}
    onmspointerleave={attrs.onmspointerleave}
    onmspointermove={attrs.onmspointermove}
    onmspointerout={attrs.onmspointerout}
    onmspointerover={attrs.onmspointerover}
    onmspointerup={attrs.onmspointerup}
    onpaste={attrs.onpaste}
    onpause={attrs.onpause}
    onplay={attrs.onplay}
    onplaying={attrs.onplaying}
    onpointercancel={attrs.onpointercancel}
    onpointerdown={attrs.onpointerdown}
    onpointerenter={attrs.onpointerenter}
    onpointerleave={attrs.onpointerleave}
    onpointermove={attrs.onpointermove}
    onpointerout={attrs.onpointerout}
    onpointerover={attrs.onpointerover}
    onpointerup={attrs.onpointerup}
    onprogress={attrs.onprogress}
    onratechange={attrs.onratechange}
    onreset={attrs.onreset}
    onscroll={attrs.onscroll}
    onseeked={attrs.onseeked}
    onseeking={attrs.onseeking}
    onselect={attrs.onselect}
    onselectstart={attrs.onselectstart}
    onstalled={attrs.onstalled}
    onsubmit={attrs.onsubmit}
    onsuspend={attrs.onsuspend}
    ontimeupdate={attrs.ontimeupdate}
    ontouchcancel={attrs.ontouchcancel}
    ontouchend={attrs.ontouchend}
    ontouchmove={attrs.ontouchmove}
    ontouchstart={attrs.ontouchstart}
    onvolumechange={attrs.onvolumechange}
    onwaiting={attrs.onwaiting}
    onwheel={attrs.onwheel}
    span={attrs.span}
    spellcheck={attrs.spellcheck}
    style={attrs.style}
    tabindex={attrs.tabindex}
    title={attrs.title}
    valign={attrs.valign}
    width={attrs.width}
  >
    <template for:each={slots} for:item="s">
      <template if:true={s.default}>
        <c-dynamic-element
          key={s.default.key}
          tag={s.default.tag}
          attrs={s.default.attrs}
          children={s.default.children}
        >
        </c-dynamic-element>
      </template>
    </template>
  </col>
</template>