<template>
  <lightning-input
    accept={attrs.accept}
    access-key={attrs.accessKey}
    accesskey={attrs.accesskey}
    aria-controls={attrs.ariaControls}
    aria-described-by={attrs.ariaDescribedBy}
    aria-label={attrs.ariaLabel}
    aria-labelled-by={attrs.ariaLabelledBy}
    autocomplete={attrs.autocomplete}
    checked={attrs.checked}
    class={attrs.class}
    date-aria-controls={attrs.dateAriaControls}
    date-aria-described-by={attrs.dateAriaDescribedBy}
    date-aria-label={attrs.dateAriaLabel}
    date-aria-labelled-by={attrs.dateAriaLabelledBy}
    date-style={attrs.dateStyle}
    dir={attrs.dir}
    disabled={attrs.disabled}
    draggable={attrs.draggable}
    field-level-help={attrs.fieldLevelHelp}
    files={attrs.files}
    format-fraction-digits={attrs.formatFractionDigits}
    formatter={attrs.formatter}
    hidefocus={attrs.hidefocus}
    id={attrs.id}
    is-loading={attrs.isLoading}
    label={attrs.label}
    lang={attrs.lang}
    max={attrs.max}
    max-length={attrs.maxLength}
    message-toggle-active={attrs.messageToggleActive}
    message-toggle-inactive={attrs.messageToggleInactive}
    message-when-bad-input={attrs.messageWhenBadInput}
    message-when-pattern-mismatch={attrs.messageWhenPatternMismatch}
    message-when-range-overflow={attrs.messageWhenRangeOverflow}
    message-when-range-underflow={attrs.messageWhenRangeUnderflow}
    message-when-step-mismatch={attrs.messageWhenStepMismatch}
    message-when-too-long={attrs.messageWhenTooLong}
    message-when-too-short={attrs.messageWhenTooShort}
    message-when-type-mismatch={attrs.messageWhenTypeMismatch}
    message-when-value-missing={attrs.messageWhenValueMissing}
    min={attrs.min}
    min-length={attrs.minLength}
    multiple={attrs.multiple}
    name={attrs.name}
    onabort={attrs.onabort}
    onactivate={attrs.onactivate}
    onbeforeactivate={attrs.onbeforeactivate}
    onbeforecopy={attrs.onbeforecopy}
    onbeforecut={attrs.onbeforecut}
    onbeforedeactivate={attrs.onbeforedeactivate}
    onbeforepaste={attrs.onbeforepaste}
    onblur={attrs.onblur}
    oncanplay={attrs.oncanplay}
    oncanplaythrough={attrs.oncanplaythrough}
    onchange={attrs.onchange}
    onclick={attrs.onclick}
    oncommit={attrs.oncommit}
    oncontextmenu={attrs.oncontextmenu}
    oncopy={attrs.oncopy}
    oncut={attrs.oncut}
    ondblclick={attrs.ondblclick}
    ondeactivate={attrs.ondeactivate}
    ondrag={attrs.ondrag}
    ondragend={attrs.ondragend}
    ondragenter={attrs.ondragenter}
    ondragleave={attrs.ondragleave}
    ondragover={attrs.ondragover}
    ondragstart={attrs.ondragstart}
    ondrop={attrs.ondrop}
    ondurationchange={attrs.ondurationchange}
    onemptied={attrs.onemptied}
    onended={attrs.onended}
    onerror={attrs.onerror}
    onfocus={attrs.onfocus}
    ongotpointercapture={attrs.ongotpointercapture}
    oninput={attrs.oninput}
    onkeydown={attrs.onkeydown}
    onkeypress={attrs.onkeypress}
    onkeyup={attrs.onkeyup}
    onload={attrs.onload}
    onloadeddata={attrs.onloadeddata}
    onloadedmetadata={attrs.onloadedmetadata}
    onloadstart={attrs.onloadstart}
    onlostpointercapture={attrs.onlostpointercapture}
    onmousedown={attrs.onmousedown}
    onmouseenter={attrs.onmouseenter}
    onmouseleave={attrs.onmouseleave}
    onmousemove={attrs.onmousemove}
    onmouseout={attrs.onmouseout}
    onmouseover={attrs.onmouseover}
    onmouseup={attrs.onmouseup}
    onmousewheel={attrs.onmousewheel}
    onmscontentzoom={attrs.onmscontentzoom}
    onmsgesturechange={attrs.onmsgesturechange}
    onmsgesturedoubletap={attrs.onmsgesturedoubletap}
    onmsgestureend={attrs.onmsgestureend}
    onmsgesturehold={attrs.onmsgesturehold}
    onmsgesturestart={attrs.onmsgesturestart}
    onmsgesturetap={attrs.onmsgesturetap}
    onmsgotpointercapture={attrs.onmsgotpointercapture}
    onmsinertiastart={attrs.onmsinertiastart}
    onmslostpointercapture={attrs.onmslostpointercapture}
    onmsmanipulationstatechanged={attrs.onmsmanipulationstatechanged}
    onmspointercancel={attrs.onmspointercancel}
    onmspointerdown={attrs.onmspointerdown}
    onmspointerenter={attrs.onmspointerenter}
    onmspointerleave={attrs.onmspointerleave}
    onmspointermove={attrs.onmspointermove}
    onmspointerout={attrs.onmspointerout}
    onmspointerover={attrs.onmspointerover}
    onmspointerup={attrs.onmspointerup}
    onpaste={attrs.onpaste}
    onpause={attrs.onpause}
    onplay={attrs.onplay}
    onplaying={attrs.onplaying}
    onpointercancel={attrs.onpointercancel}
    onpointerdown={attrs.onpointerdown}
    onpointerenter={attrs.onpointerenter}
    onpointerleave={attrs.onpointerleave}
    onpointermove={attrs.onpointermove}
    onpointerout={attrs.onpointerout}
    onpointerover={attrs.onpointerover}
    onpointerup={attrs.onpointerup}
    onprogress={attrs.onprogress}
    onratechange={attrs.onratechange}
    onreset={attrs.onreset}
    onscroll={attrs.onscroll}
    onseeked={attrs.onseeked}
    onseeking={attrs.onseeking}
    onselect={attrs.onselect}
    onselectstart={attrs.onselectstart}
    onstalled={attrs.onstalled}
    onsubmit={attrs.onsubmit}
    onsuspend={attrs.onsuspend}
    ontimeupdate={attrs.ontimeupdate}
    ontouchcancel={attrs.ontouchcancel}
    ontouchend={attrs.ontouchend}
    ontouchmove={attrs.ontouchmove}
    ontouchstart={attrs.ontouchstart}
    onvolumechange={attrs.onvolumechange}
    onwaiting={attrs.onwaiting}
    onwheel={attrs.onwheel}
    pattern={attrs.pattern}
    placeholder={attrs.placeholder}
    read-only={attrs.readOnly}
    required={attrs.required}
    spellcheck={attrs.spellcheck}
    step={attrs.step}
    style={attrs.style}
    tabindex={attrs.tabindex}
    time-aria-controls={attrs.timeAriaControls}
    time-aria-described-by={attrs.timeAriaDescribedBy}
    time-aria-labelled-by={attrs.timeAriaLabelledBy}
    time-style={attrs.timeStyle}
    timezone={attrs.timezone}
    title={attrs.title}
    type={attrs.type}
    validity={attrs.validity}
    value={attrs.value}
    variant={attrs.variant}
  >
  </lightning-input>
</template>
